name: Deploy to GitHub pages
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
          (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.3" mdbook)
          cargo install-update -a
      - uses: actions/checkout@v1
      - name: Build
        run: mdbook build
      - name: Deploy
        uses: maxheld83/ghpages@v0.2.1
        env:
          BUILD_DIR: book
          GH_PAT: {{ secrets.GH_PAT }}
